In [1]:
import pandas as pd
import numpy as np

In [2]:
mg=pd.read_csv("../mortgage/metro30_89.csv")
mg=mg.drop(columns={"RegionType","CBSACode"})

In [3]:
mg_2=pd.read_csv("../mortgage/metro90.csv")
mg_2=mg_2.drop(columns={"RegionType","CBSACode"})

In [4]:
cities=["BOSTON", "PHILADELPHIA", "NEW YORK", "WASHINGTON", "CHICAGO", "LOS ANGELES", "ATLANTA","MIAMI"]

In [5]:
bs=mg[mg["Name"]=="Boston-Cambridge-Newton, MA-NH"]

In [6]:
bs=bs.drop(columns=["Name"])

In [7]:
bs=np.transpose(bs)

In [8]:
bs=bs.rename(columns={31:"30-89"})

In [9]:
bs_2=mg_2[mg_2["Name"]=="Boston-Cambridge-Newton, MA-NH"]

In [10]:
bs_2=np.transpose(bs_2.drop(columns="Name"))

In [11]:
bs_2=bs_2.rename(columns={31:"90"})

In [12]:
def add_shift(cc):
    cc["30-89(-1)"]=cc["30-89"].shift(1)
    cc["30-89(-2)"]=cc["30-89"].shift(2)
    cc["30-89(-3)"]=cc["30-89"].shift(3)
    cc["30-89(-4)"]=cc["30-89"].shift(4)
    cc["30-89(1)"]=cc["30-89"].shift(-1)
    cc["30-89(2)"]=cc["30-89"].shift(-2)
    cc["30-89(3)"]=cc["30-89"].shift(-3)
    cc["30-89(4)"]=cc["30-89"].shift(-4)
    cc["90(-1)"]=cc["90"].shift(1)
    cc["90(-2)"]=cc["90"].shift(2)
    cc["90(-3)"]=cc["90"].shift(3)
    cc["90(-4)"]=cc["90"].shift(4)
    cc["90(1)"]=cc["90"].shift(-1)
    cc["90(2)"]=cc["90"].shift(-2)
    cc["90(3)"]=cc["90"].shift(-3)
    cc["90(4)"]=cc["90"].shift(-4)
    return cc

In [13]:
bs=pd.concat([bs,bs_2],axis=1)

In [14]:
bs=add_shift(bs)

In [15]:
bs.to_csv("BOSTON mortgage.csv")

In [16]:
ph=mg[mg["Name"]=="Philadelphia-Camden-Wilmington, PA-NJ-DE-MD"]
ph=ph.drop(columns="Name")
ph=np.transpose(ph)
ph=ph.rename(columns={186:"30-89"})
ph_2=mg_2[mg_2["Name"]=="Philadelphia-Camden-Wilmington, PA-NJ-DE-MD"]
ph_2=np.transpose(ph_2.drop(columns="Name"))
ph=pd.concat([ph,ph_2],axis=1)
ph=ph.rename(columns={186:"90"})

In [17]:
ph["30-89(-1)"]=ph["30-89"].shift(1)
ph["30-89(-2)"]=ph["30-89"].shift(2)
ph["30-89(-3)"]=ph["30-89"].shift(3)
ph["30-89(-4)"]=ph["30-89"].shift(4)
ph["30-89(1)"]=ph["30-89"].shift(-1)
ph["30-89(2)"]=ph["30-89"].shift(-2)
ph["30-89(3)"]=ph["30-89"].shift(-3)
ph["30-89(4)"]=ph["30-89"].shift(-4)
ph["90(-1)"]=ph["90"].shift(1)
ph["90(-2)"]=ph["90"].shift(2)
ph["90(-3)"]=ph["90"].shift(3)
ph["90(-4)"]=ph["90"].shift(4)
ph["90(1)"]=ph["90"].shift(-1)
ph["90(2)"]=ph["90"].shift(-2)
ph["90(3)"]=ph["90"].shift(-3)
ph["90(4)"]=ph["90"].shift(-4)

In [42]:
ph.to_csv("PHILADELPHIA mortgage.csv")

In [43]:
ny=mg[mg["Name"]=="New York-Newark-Jersey City, NY-NJ-PA"]
ny=ny.drop(columns="Name")
ny=np.transpose(ny)
ny=ny.rename(columns={169:"30-89"})
ny_2=mg_2[mg_2["Name"]=="New York-Newark-Jersey City, NY-NJ-PA"]
ny_2=np.transpose(ny_2.drop(columns="Name"))
ny=pd.concat([ny,ny_2],axis=1)
ny=ny.rename(columns={169:"90"})

In [44]:
ny["30-89(-1)"]=ny["30-89"].shift(1)
ny["30-89(-2)"]=ny["30-89"].shift(2)
ny["30-89(-3)"]=ny["30-89"].shift(3)
ny["30-89(-4)"]=ny["30-89"].shift(4)
ny["30-89(1)"]=ny["30-89"].shift(-1)
ny["30-89(2)"]=ny["30-89"].shift(-2)
ny["30-89(3)"]=ny["30-89"].shift(-3)
ny["30-89(4)"]=ny["30-89"].shift(-4)
ny["90(-1)"]=ny["90"].shift(1)
ny["90(-2)"]=ny["90"].shift(2)
ny["90(-3)"]=ny["90"].shift(3)
ny["90(-4)"]=ny["90"].shift(4)
ny["90(1)"]=ny["90"].shift(-1)
ny["90(2)"]=ny["90"].shift(-2)
ny["90(3)"]=ny["90"].shift(-3)
ny["90(4)"]=ny["90"].shift(-4)

In [45]:
ny.to_csv("NEW YORK mortgage.csv")

In [46]:
ws=mg[mg["Name"]=="Washington-Arlington-Alexandria, DC-VA-MD-WV"]
ws=ws.drop(columns="Name")
ws=np.transpose(ws)
ws=ws.rename(columns={260:"30-89"})
ws_2=mg_2[mg_2["Name"]=="Washington-Arlington-Alexandria, DC-VA-MD-WV"]
ws_2=np.transpose(ws_2.drop(columns="Name"))
ws=pd.concat([ws,ws_2],axis=1)
ws=ws.rename(columns={260:"90"})

In [47]:
ws["30-89(-1)"]=ws["30-89"].shift(1)
ws["30-89(-2)"]=ws["30-89"].shift(2)
ws["30-89(-3)"]=ws["30-89"].shift(3)
ws["30-89(-4)"]=ws["30-89"].shift(4)
ws["30-89(1)"]=ws["30-89"].shift(-1)
ws["30-89(2)"]=ws["30-89"].shift(-2)
ws["30-89(3)"]=ws["30-89"].shift(-3)
ws["30-89(4)"]=ws["30-89"].shift(-4)
ws["90(-1)"]=ws["90"].shift(1)
ws["90(-2)"]=ws["90"].shift(2)
ws["90(-3)"]=ws["90"].shift(3)
ws["90(-4)"]=ws["90"].shift(4)
ws["90(1)"]=ws["90"].shift(-1)
ws["90(2)"]=ws["90"].shift(-2)
ws["90(3)"]=ws["90"].shift(-3)
ws["90(4)"]=ws["90"].shift(-4)

In [48]:
ws.to_csv("WASHINGTON mortgage.csv")

In [49]:
cc=mg[mg["Name"]=="Chicago-Naperville-Elgin, IL-IN-WI"]
cc=cc.drop(columns="Name")
cc=np.transpose(cc)
cc=cc.rename(columns={51:"30-89"})
cc_2=mg_2[mg_2["Name"]=="Chicago-Naperville-Elgin, IL-IN-WI"]
cc_2=np.transpose(cc_2.drop(columns="Name"))
cc=pd.concat([cc,cc_2],axis=1)
cc=cc.rename(columns={51:"90"})

In [50]:
cc["30-89(-1)"]=cc["30-89"].shift(1)
cc["30-89(-2)"]=cc["30-89"].shift(2)
cc["30-89(-3)"]=cc["30-89"].shift(3)
cc["30-89(-4)"]=cc["30-89"].shift(4)
cc["30-89(1)"]=cc["30-89"].shift(-1)
cc["30-89(2)"]=cc["30-89"].shift(-2)
cc["30-89(3)"]=cc["30-89"].shift(-3)
cc["30-89(4)"]=cc["30-89"].shift(-4)
cc["90(-1)"]=cc["90"].shift(1)
cc["90(-2)"]=cc["90"].shift(2)
cc["90(-3)"]=cc["90"].shift(3)
cc["90(-4)"]=cc["90"].shift(4)
cc["90(1)"]=cc["90"].shift(-1)
cc["90(2)"]=cc["90"].shift(-2)
cc["90(3)"]=cc["90"].shift(-3)
cc["90(4)"]=cc["90"].shift(-4)

In [51]:
cc.to_csv("CHICAGO mortgage.csv")

In [52]:
la=mg[mg["Name"]=="Los Angeles-Long Beach-Anaheim, CA"]
la=la.drop(columns="Name")
la=np.transpose(la)
la=la.rename(columns={145:"30-89"})
la_2=mg_2[mg_2["Name"]=="Los Angeles-Long Beach-Anaheim, CA"]
la_2=np.transpose(la_2.drop(columns="Name"))
la=pd.concat([la,la_2],axis=1)
la=la.rename(columns={145:"90"})
la=add_shift(la)

In [53]:
la.to_csv("LOS ANGELES mortgage.csv")

In [54]:
at=mg[mg["Name"]=="Atlanta-Sandy Springs-Roswell, GA"]
at=at.drop(columns="Name")
at=np.transpose(at)
at=at.rename(columns={11:"30-89"})
at_2=mg_2[mg_2["Name"]=="Atlanta-Sandy Springs-Roswell, GA"]
at_2=np.transpose(at_2.drop(columns="Name"))
at=pd.concat([at,at_2],axis=1)
at=at.rename(columns={11:"90"})
at=add_shift(at)

In [55]:
at.to_csv("ATLANTA mortgage.csv")